body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #100D28;

}

.container {
    margin: 100px auto;
    padding: 20px;
    background-color: #16AEE6;

    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0062cc;
}